<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - College Kids</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CollegeKids2.0.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" asp-append-version="true" />
    <link href="https://db.onlinewebfonts.com/c/26a3cd904b8ade372aacad1897b747ed?family=Landa+SemiBold" rel="stylesheet" asp-append-version="true" />
    <link href="https://fonts.cdnfonts.com/css/ruda" rel="stylesheet" asp-append-version="true"/>

</head>
<body>
    
    <header>
        
        <nav class="navbar navbar-expand-md navbar-light" style="background-color: #05428d; color: #ee6538; border-bottom: 1px solid #ddd;">
            <div class="container">
                <a class="navbar-brand" href="@Url.Action("")" style="font-family: 'Ruda', sans-serif; color: #ee6538; font-size: 50px;">
@*                     <img src="~/img/collegekids.png" alt="College Kids Logo" style="height: 65px; margin-right: 10px;" />
 *@                    College Kids
                </a>

                <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="background-color: #ee6538;">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item pulse">
                            <a class="nav-link pulse" href="@Url.Action("matricula")" style="font-family: 'Ruda', sans-serif;color: #ee6538; font-size:26px;font-weight: 800;">Matrículas 2024</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link opc" href="@Url.Action("propuesta")" style="font-family: 'Ruda', sans-serif; color: white; font-size: 22px; font-weight: bold;">Propuesta Educativa</a>
                        </li>
                        @* <li class="nav-item">
                            <a class="nav-link opc" href="@Url.Action("contactanos")" style="font-family: 'Ruda', sans-serif;color: white;font-size:22px;font-weight: bold;">Contáctanos</a>
                        </li> *@
                        <li class="nav-item">
                            <a class="nav-link opc" href="@Url.Action("nosotros")" style="font-family: 'Ruda', sans-serif;color: white;font-size:22px;font-weight: bold;">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.facebook.com/collegek1ds/" target="_blank"><i class="fab fa-facebook" style="font-size: 25px; color:#ee6538;"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.instagram.com/college_kids_pe/" target="_blank"><i class="fab fa-instagram" style="font-size: 25px; color:#ee6538;"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://wa.me/+51954899657" target="_blank"><i class="fab fa-whatsapp" style="font-size: 25px; color: #ee6538;"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    
    <footer class="site-footer xd" style="background-color: #f37021;">
        
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p style="color:#05428d" class="copyright-text mt-5">
                        Copyright &copy; 2024 Todos los derechos reservados por
                        <a style="font-weight:bold; color:#05428d; text-decoration:none" href="https://collegekids.edu.pe">College Kids</a>.
                    </p>
                    
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="social-icons">
                        <p class="text-black">SIGAMOS CONECTADOS</p>
                        <li><a href="https://www.facebook.com/collegek1ds/" target="_blank"><i class="fab fa-facebook" style="font-size: 30px; color: #05428d;"></i></a></li>
                        <li><a href="https://www.instagram.com/college_kids_pe/" target="_blank"><i class="fab fa-instagram" style="font-size: 30px; color: #05428d;"></i></a></li>
                        <li><a href="https://wa.me/+51954899657" target="_blank"><i class="fab fa-whatsapp" style="font-size: 30px; color: #05428d;"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>